vendor
bins
.idea
deploy/data/*
.env*
keys/*
csv
output_downloads
build/datastax/*
cover.out
coverage.out
*coverage*.out
cover.xml
coverage.html
.DS_Store
.vscode**
!.envrc.example
# generated  # Commented out to allow committing the generated directory

# Tools directory
/tools/
.task

# Compiled binary
/openapi-go
